body{
    font-family: "Rakkas", serif;
    font-weight: 400;
    background-color: #ff6b6b;
    margin: 0;
}

.container{
    width: 90%;
    margin: 20px auto;
    border: 5px dotted black;
    padding: 20px;
    background-color: #ff7f7f;
}

header{
    text-align: center;
}

h1{
    background-color: #8f7b7b;
    color: white;
    padding: 15px;
    border-radius: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

nav a{
    text-decoration: "Rakkas";
    color: black;
    background-color: #8D7070;
    padding: 15px 25px;
    border-radius: 20px;
}

a:hover {
  background-color: pink;
  font-size: 18px;
}

.info-section{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.info-box{
    flex: 2;
    background-color: #8D7070;
    padding: 20px;
    border-radius: 20px;
}

.image-box{
    flex: 1;
    border: 6px solid white;
    background-color: white;
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttons{
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

button{
    background-color: #8D7070;
    border: none;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
}

footer{
    margin-top: 30px;
    text-align: center;
}

.socials{
    margin-top: 10px;
}

.socials a{
    text-decoration: none;
    margin: 10px;
    color: black;
    font-weight: bold;
}
img {
  width: 20%;
}

.footer-btn{
    background:#9d8484;
    border:none;
    border-radius:25px;
    padding:15px 25px;
    text-decoration:none;
    color:black;
    display:inline-block;
}
